#repoman_mgr_page{
	margin-top:20px;
}

#repoman_content form {
	margin-bottom: 20px;
}

#repoman_mgr_page ol,
#repoman_mgr_page ul {
	margin: 0 1em !important;
	padding: 0 1em !important;
}

#repoman_mgr_page ul {
	list-style : disc !important;
}
#repoman_mgr_page ol {
	list-style : decimal !important;
}

.repoman_button {
  border: 1px solid #606060;
  cursor:pointer;
  text-decoration: none; 
  font: menu; 
  color: ButtonText;
  display: inline; 
  padding: 4px 8px;
  color: black;
  background-color: #dadada; 
}

.repoman_button_disabled {
    text-decoration: none; 
    font: menu; 
    color: ButtonText;
    display: inline; 
    padding: 4px 8px;
    color: #C8C8C8;
    background-color: grey;
    cursor: not-allowed;
    border: 1px solid #606060;
}



.repoman_table {
	border-collapse: collapse;
	width: 98%;
}
#repoman_footer {
	margin: 20px auto;
	width: 320px;
}

#repoman_footer a {
	width: 60px;
	float: left;
	text-align: center;
	margin-right: 20px;
}
.repoman_label {
	font-weight: bold;
}
.repoman_desc {
	font-style: italic;
}
table.repoman_table td {
	padding: 10px;
}

td.repoman_view_cell {
    width: 300px;
	padding-right: 20px !important;
}

tr.repoman_row {
	height: 30px;
}
td.repoman_name_cell {
	width:400px;
}

tr.repoman_even {
	background-color: #F8F8F8;
}
tr.repoman_odd {
	background-color: #C8C8C8;	
}

a.repoman_discrete {
   text-decoration: none;
   color: #72C272;
}
a.repoman_discrete:visited {
   color:#72C272;
}

.install-btn {
	background: #5ebb00;
}

.uninstall-btn {
	background:#bf0707;
	color: #fff;
}

.update-btn {
	background: #ff8000;
}

.refresh-btn {
    cursor: progress;
}

.copyright {
	float: none;
	display: block;
	width: 100% !important;
	color: #72C272;
	margin-top: 15px;
	text-decoration: none;
}

input[type="text"],
select {
	border: 1px solid #ddd;
	padding: 5px;
}

form.createrepo {
    background: #fff;
    padding: 20px;
}
.createrepo label {
    width: 110px;
    float: left;
    font-weight: bold;
    margin-top: 4px;
}

.repoman_note {
    color: #909090;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 10px;
}

.green-btn {
  background-color: hsl(80, 46%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#90b643", endColorstr="#617a2d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#90b643), to(#617a2d));
  background-image: -moz-linear-gradient(top, #90b643, #617a2d);
  background-image: -ms-linear-gradient(top, #90b643, #617a2d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90b643), color-stop(100%, #617a2d));
  background-image: -webkit-linear-gradient(top, #90b643, #617a2d);
  background-image: -o-linear-gradient(top, #90b643, #617a2d);
  background-image: linear-gradient(#90b643, #617a2d);
  border-color: #617a2d #617a2d hsl(80, 46%, 29%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
  border: none;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.repo-wrapper a,
.repo-wrapper h2 {
	float: left;
}

.repo-wrapper a {
  margin-left: 20px;
	margin-top: 23px;
}


/***CHECKBOX***/
input[type="checkbox"]:checked + label {
 
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}

.cb-label {
  width: auto !important; 
  margin: 0 10px !important; 
}

/**messagesbox***/
.alert-box {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.repoman_success { 
    background: #d9edf7;
    border: 1px solid #bce8f1;
    color: #60708f;
    
}

.repoman_warning { 
    background: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d6a;
}

.repoman_error { 
    background: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

#repo_readme,
#repo_info {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

#repo_readme p {
  margin-bottom: 15px;
}

#repo_readme pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 background: #faf8f0;
 margin-bottom: 15px;
}
 #repo_readme code {
 display: block;
 padding: 0.5em 1em;
 border: 1px solid #bebab0;
}


.readme {
  background: url(readme.png) no-repeat;
  padding-left: 35px;
}

#repo_info {
  display: none;
  background: #dffcff;
  border: 1px dotted #00b0c4;
  position: absolute;
  right: 0px;
  width: 350px;
}

#repo_info a,
#repo_readme a {
  color: #2b8aae;
  font-weight: bold;
  text-decoration: none;
}
#repo_info h3 {
  margin-top: 15px;
}

#toggle-repo_info {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 1000;
    text-indent: -9999px;
    padding: 4px 4px 0px !important;
    cursor: pointer;
}

.line {
      border-top: 3px solid #000;
      display: block;
      height: 2px;
      width: 20px;
      margin-bottom: 1px;
  }


  /* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clear:before, .clear:after,
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clear:after,
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clear,
.clearfix { zoom: 1; }